.details {
  width: 100%;
  grid-area: details;
  position: relative;
  &__wrapper {
    margin-top: 2rem;
    padding: 1.5rem;
    color: $color-accent-primary;
    background-color: $color-accent-secondary-l;
    border: 0.05rem solid $color-accent-secondary;
    border-radius: 0.4rem;
  }

  &__title {
    margin-bottom: 0.5rem;
  }

  &__close {
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 2rem;
    right: 0;
    transform: rotate(45deg);
    transition:
      width 0.5s,
      height 0.5s;

    &:hover {
      width: 2.7rem;
      height: 2.7rem;
    }
  }
}
