.main {
  background-color: $color-primary-dark;

  &__wrapper {
    padding: 2.5rem 0.5rem;
    display: grid;
    align-items: start;
    justify-content: center;
    justify-items: center;
    grid-template-areas:
      'error-button error-button'
      'search search'
      'cards details'
      'pagination details';
    gap: 1rem;
  }
}
