.start-screen {
  background-color: $color-primary-dark;
  color: $color-accent-primary;

  &__wrapper {
    padding: 0.5rem 0.5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
      align-items: center;
      row-gap: 1rem;
    }
  }

  &__about {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 3rem;

    @media screen and (max-width: 768px) {
      width: 100%;
      align-items: center;
      text-align: center;
      row-gap: 1.5rem;
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: 900;

    @media screen and (max-width: 768px) {
      width: 60%;
    }

    @media screen and (max-width: 576px) {
      font-size: 1.5rem;
    }
  }

  &__description {
    font-size: 1.1rem;
    font-weight: 600;

    @media screen and (max-width: 576px) {
      font-size: 1rem;
    }
  }

  &__image {
    width: 50%;
    border-radius: 0.5rem;

    @media screen and (max-width: 768px) {
      width: 80%;
    }

    @media screen and (max-width: 576px) {
      width: 100%;
    }
  }
}
