$color-primary-dark: #000000;
$color-primary-light: #ffffff;
$color-accent-primary: #faca35;
$color-accent-secondary: #9ecee5;
$color-accent-secondary-m: #5cb0de;
$color-accent-secondary-l: #212e36;
$color-error: #c51c1c;
$color-error-xs: #F9E7E7;